/* * GENERAL */
body {
    background-color: #000000f2;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

/* * SIDEBAR */

#sidebar {
    z-index: 9999999999999;
}

#sidebarMenu {
    width: 0;
}

.sidebar {
    background-color: #fff;
    height: 100vh;
    padding: 25px 10px;
}
.sidebar-menu {
    width: 600px;
}

.nav-item .nav-link {
    color: white;
}

.sidebar-img {
    width: 35px;
}

.links span {
    cursor: pointer;
}

.menu {
    cursor: pointer;
}
/* * MEALS */
.meal {
    overflow: hidden;
    cursor: pointer;
}
.meal-overlay {
    display: flex;
    align-items: center;
    padding-left: 12px;
    top: 100%;
    transition: top 1s ease-in-out;
}
.meal:hover .meal-overlay {
    top: 0px !important;
}

/* * MEAL DETAILS */

.meal-main-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
